*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    font-family: sans-serif;
    background-color: rgb(225, 238, 255);
    
}
.sidebar{
    width: 15%;
    background-color: white;
    height: 100vh;
    float: left;
    padding: 30px;

}
.sidebar i{
    color: rgba(10, 121, 10, 0.728);
}

.sidebar ul{
    list-style: none;
    
}
.sidebar ul li{
    line-height: 40px;

}
.sidebar ul li a {
    color: black;
    text-decoration: none;

}
.hover:hover{
    border: none;
    border-radius: 5px;
    display: inline-block;
    color: white;
    background: transparent;
    background-color: rgba(10, 121, 10, 0.728);
    position: relative;
    transition: 1ms;
    
}


.sidebar .logout{
    position: absolute;
    top: 100%;
}
.profile{
    display: flex;
}
.profile p{
    position: relative;
    left: 10px;
    top: 12px;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.dinfo{
    padding: 10px;
    position: relative;
    left: 10px;
}
.topnavbar{
    position: relative;
    right: 1px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    
}
.topnavbar .nav2 a{
    color: black;
    text-decoration: none;
    font-size: small;

}

.topnavbar .nav2 ul {
    display: flex;
    list-style: none;
    

}
.topnavbar .nav2 ul li{
    margin-left: 10px;
    
}

.nav2 i{
    color: brown;
}

.logout i{
    color: red;
}

.content{
    width: 85%;
    height: 100vh;
    background-color: rgb(225, 238, 255);
}
.flex{
    display: flex;
    
}
.mdoctor{
    width: 50%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 15px 0;
    border-radius: 5px;
    position: relative;
    left: 20px;
    background-color: white;


}
.mdoctor .img-div{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.mdoctor .img-div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}
.mdoctor  h1{
    margin-bottom: 10px;
}

.mdoctor ul{
    display: flex;
    list-style: none;
}
.mdoctor p{
    margin-bottom: 10px;
} 

ul li{
    margin-left: 10px;
    
}
.doctor-info{
    width: 100%;
    border: none;
    position: relative;
    left: 50px;
    background-color: white;
    border-radius: 5px;
    
}
.doctor-info .text h1{
    position: relative;
    left: 40%;
    color: green;
      
}
.didy{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    
}

.didy ul{
    list-style: none;
}
.didy li{
    display: flex;
    gap: 1rem;
    font-size: 15px;
}
.doc2{
    display: flex;
    float: right;
    margin-left: 90px;
    top: 18%;
    font-size: 18px;
    position: absolute;
}
